@import "_includes/nav";
@import "_includes/helpers";

.video>video {
  width: 100%;
}
.body {
  background-color: #6f532a;
}

.video {
  position: relative;
  height: 300px;
  overflow-y: hidden;
}
.bg:nth-child(odd) {
    background-color: #efe0b1;
}

.bg:nth-child(even) {
    background-color: #6f532a;
}

.row {
 margin-bottom: 0px;
}

.blends {
    background-color: #efe0b1;
}

.ordonline {
  background-color: #6f532a;
  color: white;
}

.video>.hold > .container {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
}
.container > .logo{
  height: 100%;
}
.container > .logo > svg{
  height: 100%;
}
.hidden{
  display: none;
}

.logo-part{
  fill:#fffce6;
  fill-opacity:1;
  fill-rule:evenodd;
  stroke:#000000;
  stroke-width:0;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
}
.navcolor {
  background-color: #523d1f;
}
.video>.hold{
  background-color: rgba(0,0,0,0.35);
  height: 300px;
  width: 100%;
  top: 0px;
  position: absolute;
}
