@import "_includes/config";

@import "_includes/nav";
@import "_includes/helpers";
@import "_includes/video-head";

body {
  background-color: $dark-cream;
}

.stripe:nth-child(odd) {
}

.stripe:nth-child(even) {
    background-color: $lighter-brown;
    color: #fff;
}

.row {
 //margin-bottom: 0px;
}

.logo-part{
  fill:$light-cream;
  fill-opacity:1;
  fill-rule:evenodd;
  stroke:#000000;
  stroke-width:0;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
}
.navcolor {
  background-color: $dark-background;
}

.side-text-image{
  height: 300px;
  img{
    height: 300px;
    float: left;
  }
  .text{
    float: left;
  }
}
