@import "_includes/config";
@import "materialize";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@import "_includes/nav";
@import "_includes/helpers";
@import "_includes/video-head";
@import "_includes/side-text-image";
@import "_includes/call-out";
@import "_includes/set-of-three";

body {
  background-color: $light-cream;
  overflow-x: hidden;
}

.goog-map {
  width: 100%;
  height: 400px;
}

.store-select-btn {
  float: right;
}

.customise-syrup {
  background-color: #ffffff;
  height: 100px;
  border-style: solid;
  border-width: 1px;
}

.customise-syrup-item {
  background-color: #ffffff;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  padding-top: 1px;
}

.customise-syrup-select {
  float: right;
}

.sidepadd {
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
}

.stripe:nth-child(odd) {

}

.stripe:nth-child(even) {
    background-color: $dark-cream;
}

.row {
 //margin-bottom: 0px;
}
.logo-part{
  fill:$light-cream;
  fill-opacity:1;
  fill-rule:evenodd;
  stroke:#000000;
  stroke-width:0;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
}
.navcolor {
  background-color: $dark-background;
}



@keyframes slideInLeft {
    from { left: -100%; }
    to { left: 0%; }
}
@keyframes slideInRight {
    from { right: -100%; }
    to { right: 0%; }
}
