<div ng-app="myApp" ng-controller="myCtrl">
  <div ng-repeat="(key, order) in orders">
    <h1>{{order.id.slice(-5)}}{{order.stage}}</h1>
    <div ng-repeat="(keyI, item) in order.items">
      <h2>{{item.name}}:</h2>
      <div ng-repeat="(keyO, option) in item.options">
        <h4>{{option.name}}:{{option.options[option.selected].name}}<h4>
      </div>
    </div>
    <a ng-click="ready(order.id)">Ready</a>    <a ng-click="served(order.id)">Served</a>
    <hr>
  </div>
</div>
<script src="/static/js/angular.min.js" charset="utf-8"></script>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$timeout) {
  uupdateFN = ()=>{
    var storeID = window.location.hash.substr(1)
    $http.get('/api/list/'+storeID).then((orders)=>{
      $scope.orders = orders.data;
    }).then(()=>{
      $timeout(uupdateFN,500)
    })
  }
  uupdateFN()
  $scope.ready = function (id){
    $http.get('/api/ready/'+id).then((orders)=>{
    })
  }
  $scope.served = function (id){
    $http.get('/api/served/'+id).then((orders)=>{
    })
  }
});
</script>
