<div class="col s12 m4" ng-repeat="(itemKey, item) in items">
  <div class="card">
    <div class="card-content">
       <h5>{{item.name}}</h5>
       <p>{{item.subText}}</p>
    </div>
    <div class="card-image">
      <img src="/static/img/latte.jpeg">
    </div>
    <div class="card-content">
       <h4>{{item.totalCost | currency : '£'}}</h4>
    </div>
  </div>
</div>
<div class="cart-bottom">
  <div class="container">
    <a class="waves-effect waves-light btn cart-btn-add" href="#/selectItem">Add another item</a>
    <a class="waves-effect waves-light btn cart-btn-submit" ng-click="checkout()">Checkout</a>
  </div>
</div>
