
<h5>Firstly select a store: </h5>
 <div class="col s12 m6" ng-repeat="(storesNum,store) in stores">
   <div class="card">
     <div class="card-content">
        <a class="btn-floating btn-large waves-effect waves-light store-select-btn" ng-click="selectStore(store.id)"><i class="material-icons">add</i></a>
        <h5>{{store.name}} {{ gps-store-distance }}</h5>
     </div>
     <div class="card-image">
       <img src="/static/img/latte.jpeg">
       <span class="card-title"></span>
     </div>
   </div>
 </div>
