<div ng-app="order">
  <div ng-view></div>
</div>
<script src="/static/js/angular.min.js" charset="utf-8"></script>
<script src="/static/js/angular-route.js" charset="utf-8"></script>
<script src="/static/js/order/services.js" charset="utf-8"></script>
<script src="/static/js/order/order.js" charset="utf-8"></script>
<script src="/static/js/order/autoPick.js" charset="utf-8"></script>
<script src="/static/js/order/selectStore.js" charset="utf-8"></script>
<script src="/static/js/order/served.js" charset="utf-8"></script>
<script src="/static/js/order/payed.js" charset="utf-8"></script>
<script src="/static/js/order/ready.js" charset="utf-8"></script>
<script src="/static/js/order/addItem.js" charset="utf-8"></script>
<script src="/static/js/order/checkout.js" charset="utf-8"></script>
<script src="/static/js/order/selectItem.js" charset="utf-8"></script>
<script src="/static/js/order/error.js" charset="utf-8"></script>
<script src="/static/js/order/index.js" charset="utf-8"></script>
