<% include partials/nav %>

<div class="container z-depth-1">
      <div class="stripe">
          <div class="row blends sidepadd">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-content">
                   <h5>Americano</h5>
                   <p>with pumpkin syrup</p>
                </div>
                <div class="card-image">
                  <img src="/static/img/latte.jpeg">
                </div>
                <div class="card-content">
                   <h4>£1.20</h4>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
<div class="cart-bottom">
  <div class="container">
    <a class="waves-effect waves-light btn cart-btn-add">Add another item</a>
    <a class="waves-effect waves-light btn cart-btn-submit">Checkout</a>
  </div>
</div>
