<% include partials/nav %>

<div class="container z-depth-1">
      <div class="stripe">
          <div class="row blends sidepadd">

             <div class="col s12 m4">
               <div class="card">
                 <div class="card-image">
                   <img src="/static/img/latte.jpeg">
                 </div>
               </div>
             </div>

             <div class="col s12 m5">
                 <h4>Americano</h4>
                 <p>
                   <p>Select the size:</p>
                    <input class="with-gap" name="size" type="radio" id="size-small"/>
                    <label for="size-small">Small</label>

                   <input class="with-gap" name="size" type="radio" id="size-reg" checked />
                   <label for="size-reg">Regular</label>

                   <input class="with-gap" name="size" type="radio" id="size-large"/>
                   <label for="size-large">Large</label>
               </p>

               <p>
                 Add Syrup:
               </p>

               <input class="with-gap" name="syrup" type="radio" id="syrup-none" checked/>
               <label for="syrup-none">None</label>

               <input class="with-gap" name="syrup" type="radio" id="syrup-pumpkin"/>
               <label for="syrup-pumpkin">Pumpkin spice</label>

               <input class="with-gap" name="syrup" type="radio" id="syrup-cheese"/>
               <label for="syrup-cheese">Cheese sauce</label>

               <input class="with-gap" name="syrup" type="radio" id="syrup-crack"/>
               <label for="syrup-crack">crack</label>

             </div>


             <div class="col s12 m3">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">£3.50</span>
                    <ul class="collection with-header">
                      <li class="collection-item"><div>Regular<a href="#!" class="secondary-content">£0.20</a></div></li>
                      <li class="collection-item"><div>Pumpkin syrup<a href="#!" class="secondary-content">£1.20</a></div></li>
                    </ul>
                  </div>
                  <div class="card-action">
                    <a href="#">Add to basket</a>
                  </div>
                </div>
            </div>

          </div>
        </div>
</div>
