<% include partials/nav %>

<div class="container z-depth-1">
      <div class="stripe">
          <div class="row blends sidepadd">
            <h5>Now add an item to your basket: </h5>

            <!--an item-->
            <div class="col s12 m4">
              <div class="card horizontal">
                  <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <p>Latte</p>
                    </div>
                    <div class="card-action">
                      <p>
                         <a class="btn-floating btn-large waves-effect waves-light store-select-btn"><i class="material-icons">add</i></a>
                      </p>
                      <p>
                        £2.50
                      </p>

                    </div>
                  </div>
              </div>
            </div>

            <!--an item-->
            <div class="col s12 m4">
              <div class="card horizontal">
                  <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <p>Americano</p>
                    </div>
                    <div class="card-action">
                      <p>
                         <a class="btn-floating btn-large waves-effect waves-light store-select-btn"><i class="material-icons">add</i></a>
                      </p>
                      <p>
                        £2.00
                      </p>
                    </div>
                  </div>
              </div>
            </div>

            <!--an item-->
            <div class="col s12 m4">
              <div class="card horizontal">
                  <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <p>Cappuccino</p>
                    </div>
                    <div class="card-action">
                      <p>
                         <a class="btn-floating btn-large waves-effect waves-light store-select-btn"><i class="material-icons">add</i></a>
                      </p>
                      <p>
                        £2.50
                      </p>
                    </div>
                  </div>
              </div>
            </div>

            <!--an item-->
            <div class="col s12 m4">
              <div class="card horizontal">
                  <div class="card-image">
                    <img src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <p>Flat white</p>
                    </div>
                    <div class="card-action">
                      <p>
                         <a class="btn-floating btn-large waves-effect waves-light store-select-btn"><i class="material-icons">add</i></a>
                      </p>
                      <p>
                        £2.40
                      </p>
                    </div>
                  </div>
              </div>
            </div>

          </div>
        </div>
</div>
