
<% include partials/nav %>

<div class="container z-depth-1">
      <div class="stripe">
          <div class="row blends sidepadd">

             <div class="col s12 m6">
               <div class="card">
                 <div class="card-image">
                   <iframe class="goog-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM_WbX7uxe0gRJrvnyOE0n8k&key=AIzaSyCc1B6n4P5toRjjaR5ONd0Pm6g6c40flt0" allowfullscreen></iframe>
                 </div>
                 <div class="card-content">
                   <p>Our Manchester store is located in Ancoats next to the canal.</p>
                 </div>
               </div>
             </div>

              <div class="col s12 m6">
               <div class="card">
                 <div class="card-image">
                   <iframe class="goog-map" src="https://www.google.com/maps/embed/v1/place?q=200%20burton%20road%20didsbury&key=AIzaSyCc1B6n4P5toRjjaR5ONd0Pm6g6c40flt0" allowfullscreen></iframe>
                 </div>
                 <div class="card-content">
                   <p>Our Didsbury store is in central didsbury.</p>
                 </div>
               </div>
             </div>

          </div>
        </div>
</div>
