
<% include partials/nav %>

<div class="container z-depth-1">
      <div class="stripe">
          <div class="row blends sidepadd">

             <div class="col s12 m5">
               <div class="card">
                 <div class="card-image">
                   <img src="/static/img/latte.jpeg">
                   <span class="card-title">Manchester</span>
                 </div>
                 <div class="card-content">
                   <p>Our Manchester store is located in ancoats next to the canal.</p>
                 </div>
               </div>
             </div>
              <div class="col s12 m5">
               <div class="card">
                 <div class="card-image">
                   <img src="/static/img/latte.jpeg">
                   <span class="card-title">Didsbury</span>
                 </div>
                 <div class="card-content">
                   <p>Our Didsbury store is in central didsbury.</p>
                 </div>
               </div>
             </div>

          </div>
        </div>
</div>
