.viddiv {
  position: fixed;
  height: 10%;
  width: 100%;
}

.bg:nth-child(odd) {
    background-color: green;
}

.bg:nth-child(even) {
    background-color: red;
}

.row {
 margin-bottom: 0px;
}

.blends {
    background-color: #efe0b1;
}

.ordonline {
  background-color: #6f532a;
  color: white;
}

.storelocator {

}
