

<div class="container z-depth-1">
      <div class="stripe">
          <div class="row blends sidepadd">
            <h5>Please enter your details to create an account: </h5>

            <form action="/signup/email" method="post">

              <label for="first_name">Username</label>
              <input type="text" name="username" value=""><br>

              <label for="first_name">Password</label>
              <input type="password" name="password" value=""><br>

              <input class="waves-effect waves-light btn" type="submit" value="submit">
            </form>

          </div>
      </div>
<div>
